# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

###
/a.*
/?.c
/?.txt
/?
/*.bak
/*.back
/*.exe
/*.memo
/*.o
/*.out
/*.pch
/*.so
/*.swp
/*.tmp

/*.hh
/*.cc

/composer.phar
/google-cloud-php/

